<%- include('partials/header') %>

<section class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-4xl font-bold text-center mb-8">Página de Projetos</h1>
    <p class="text-lg text-center">Conteúdo da página de projetos aqui...</p>
</section>

<%- include('partials/footer') %>