 /* Estiliza os botões de navegação */
 .swiper-button-next,
 .swiper-button-prev {
     color: #455074;
     background-color: rgba(255, 255, 255, 0.8);
     width: 40px;
     height: 40px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .swiper-button-next:after,
 .swiper-button-prev:after {
     font-size: 18px;
     font-weight: bold;
 }

 .swiper-button-disabled {
     opacity: 0.3;
 }

 /* Estiliza os pontos de paginação */
 .swiper-pagination-bullet {
     width: 10px;
     height: 10px;
     background-color: #ccc;
     opacity: 0.7;
 }

 .swiper-pagination-bullet-active {
     background-color: #FAB515;
     opacity: 1;
 }

 /* Centraliza os slides no modo responsivo */
 .swiper-slide {
     display: flex;
     justify-content: center;
 }

 /* Espaçamento para a paginação */
 .swiper-container {
    padding-bottom: 60px !important;
 }

 .swiper-pagination {
    bottom: 10px !important;
    margin-bottom: 10px;
 }