<nav class="w-full bg-[#455074] text-white hidden md:flex items-center justify-center">
    <ul class="flex gap-10 p-4">
        <li><a href="#" class="hover:text-[#FAB515]">Home</a></li>
        <li><a href="#" class="hover:text-[#FAB515]">Sobre nós</a></li>
        <li><a href="#" class="hover:text-[#FAB515]">Projetos</a></li>
        <li><a href="#" class="hover:text-[#FAB515]">Nossa Jornada</a></li>
        <li><a href="#" class="hover:text-[#FAB515]">Parceiros</a></li>
        <li><a href="#" class="hover:text-[#FAB515]">Contato</a></li>
        <li><a href="#" class="hover:text-[#FAB515]">Doação</a></li>
    </ul>
</nav>
